name: Linux Tailscale VPN

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 360

    steps:
    - name: Install Tailscale
      run: |
       # Add Tailscale's GPG key
       sudo mkdir -p --mode=0755 /usr/share/keyrings
       curl -fsSL https://pkgs.tailscale.com/stable/ubuntu/noble.noarmor.gpg | sudo tee /usr/share/keyrings/tailscale-archive-keyring.gpg >/dev/null
       # Add the tailscale repository
       curl -fsSL https://pkgs.tailscale.com/stable/ubuntu/noble.tailscale-keyring.list | sudo tee /etc/apt/sources.list.d/tailscale.list
       # Install Tailscale
       sudo apt-get update && sudo apt-get install tailscale
       # Start Tailscale!
       sudo tailscale up

    - name: Start Tailscale VPN
      run: |
        sudo tailscale up --authkey ${{ secrets.TAILSCALE_AUTHKEY }} --accept-routes

    - name: Show Tailscale IP
      run: tailscale ip -4

    - name: Keep job alive
      run: |
        while true; do sleep 300; done
